# ----------------------
# Flask
# ----------------------
flask
mysql.connector
aiohttp
asyncio

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
pyrebase
PyJWT
urllib3
requests
bs4
lxml
